<div>
  <h3>ToDo-List</h3>
  <table>
    <thead>
      <tr>
        <th>ItemID</th>
        <th>TaskName</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of localItems">
        <td> {{item.id}}</td>
        <td> {{item.TaskName}}</td>
        <td> {{item.Complete}}</td>
        <td><button (click)="selectItem(item)">Select</button></td>
        <td><button (click)="DeleteItem(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h3>Selected Item</h3>
  <table>
    <tr>
      <td><label>ItemID: </label></td>
      <td><input name="id" [(ngModel)]="localItem.id" disabled /></td>
    </tr>

    <tr>
      <td>  <label>TaskName</label></td>
      <td>  <input name="TaskName" [(ngModel)]="localItem.TaskName" /></td>
    </tr>

    <tr>
      <td> <label >Complete</label></td>  
     <td> 
      <select  [(ngModel)]="localItem.Complete">
        <option [value]="1">Yes</option>
        <option [value]="0">No</option>
      </select>
    </td>
    </tr>

  </table>
  <button (click)="UpdateItem()">Update</button>

  <hr />
  <h3>Add New Item</h3>
  <table>
    <tr>
      <td>  <label>TaskName</label></td>
      <td>  <input name="TaskName" [(ngModel)]="localNewItem.TaskName" /></td>
    </tr>

    <tr>
      <td> <label >Complete</label></td>  
     <td> 
      <select  [(ngModel)]="localNewItem.Complete">
        <option [value]="1">Yes</option>
        <option [value]="0">No</option>
      </select>
    </td>
    </tr>

  </table>
  <button (click)="AddItem()">Add</button>
</div>
<router-outlet></router-outlet>